<fieldset id="deployOptions" class="deployOptions">
        <div class="d-flex w-100 justify-content-around mb-4">
            <div class="d-flex flex-column">
            <h4 class="d-block">Action</h4>
            <div>
            <input type="radio" name="action" id="deploy" value="deploy" checked />
            <label for="deploy">Deploy</label>
            </div>
            <div>
            <input type="radio" name="action" id="recovery" value="recovery"  />
            <label for="recovery">Recovery</label>
            </div>
        </div>
        <div class="col-6">
            <label for="location" class="form-label">Location</label>
            <select class="form-control input-dark" id="locationSelect" onchange="rememberSelection(this)" name="location"></select>      
        </div>
    </div>
</fieldset>