<fieldset id="imagingOptions">
<div class="imagingOptions d-flex justify-content-around mb-4">
    <div class="d-inline">
    <h4 class="d-block">OS</h4>
    <input type="radio" name="imagingOS" id="imagingWin" value="Windows" checked />
    <label for="imagingWin"> <i class='fa-brands fa-windows'></i> Windows</label>
    <div>
    <input type="radio" name="imagingOS" id="imagingMac" value="Mac" />
    <label for="imagingMac"><i class='fa-brands fa-apple'></i> Mac</label>
    </div>
  </div>
  <div class="d-inline">
    <h4 class="d-block">Location</h4>
    <input type="radio" name="imagingLocation" id="imagingRemote" value="Remote" checked />
    <label for="imagingRemote">Remote</label>
    <div>
    <input type="radio" name="imagingLocation" id="imagingOnsite" value="Onsite"  />
    <label for="imagingOnsite">Onsite</label>
    </div>
  </div>  
  <div class="d-flex flex-column px-10 w-10">
    <div>
    <h4 class="d-block">Type</h4>
    <input type="radio" class="mt-1" name="imagingType" id="imagingRefresh" value="Refresh" checked />
    <label for="imagingRefresh" class="mt-1 d-inline">Refresh</label>
    </div>
    <div>
    <input type="radio" class="mt-1" name="imagingType" id="imagingNewHire" value="New Hire" />
    <label for="imagingNewHire">New Hire</label> 
    </div>
    <div>
    <input type="radio" class="mt-1" name="imagingType" id="imagingBreakFix" value="Breakfix" />
    <label for="imagingBreakFix">Breakfix</label>
    </div>
    <div>
    <input type="radio" class="mt-1" name="imagingType" id="imagingAdditional" value="Additional" />
    <label for="imagingAdditional">Additional</label>
    </div>
  </div>
</div>
</fieldset>