<div class="btn-group flex justify-center">
        <input type="radio" name="options" id="tcBtn" data-title="Technical Coordination" class="btn btn-outline btn-info"> 
        <input type="radio" name="options" id="imagingBtn" data-title="Imaging" class="btn btn-outline btn-warning"> 
        <input type="radio" name="options" id="deployBtn" data-title="Deploy" class="btn btn-outline btn-success"> 
        <input type="radio" name="options" id="validationBtn" data-title="Validation" class="btn btn-secondary btn-outline"> 
        <input type="radio" name="options" id="incidentBtn" data-title="Incident" class="btn btn-danger btn-outline">
        <input type="radio" name="options" id="breakfixBtn" data-title="Breakfix" class="btn btn-danger btn-outline btn-accent">
</div>