<form id="feedFilters" enctype="multipart/form-data" action="/feed" method="GET">
    <div class="row">
        <div class="col-md-auto">
            <label for="timespan">Timespan:</label>
            <select name="timespan" class="form-control text-light bg-dark mb-5" onchange="rememberSelection(this)" id="timespanSelect">
                <option value="7" selected>This Week</option>
                <option value="0">All Time</option>
                <option value="30">This Month</option>
                <option value="90">Last 90 Days</option>
            </select>
        </div>
        <div class="col-md-auto">
            <label for="tech">Tech:</label>
            <select name="tech" class="form-control text-light bg-dark mb-5" onchange="rememberSelection(this)" id="techSelect">
                <option value="0" selected>All Techs</option>
                <% users.forEach(user => { %>
                    <option value="<%= user._id %>"><%= user.userName %></option>
              <%  }) %>
            </select>
        </div>
        <div class="col-md d-flex justify-content-end">
            <input type="submit" class="btn btn-primary mb-5 align-self-end" onclick="clearTask(this)" value="Load Report" />
        </div>
    </div>
    <%- include ('taskbuttons.ejs') -%>
</form>