<div class="w-100 mx-auto row">
    <div class="col-6 d-flex justify-content-center">
        <a href="/profile"><h2 class="text-center d-inline mb-5" id="addATask" onClick="">Add a Task</h2></a>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <a href="/feed"><h2 class="text-end d-inline-block mb-5" id="viewReports" onClick="">View Reports</h2></a>
    </div>