<div class="btn-group mb-5 d-flex justify-content-center" role="group" aria-label="Task Type">
    <div class="btn-group btn-task" role="group" aria-label="Basic radio toggle button group">

      <input type="radio" class="btn-check btn-task" name="btnradio" id="tcBtn" autocomplete="off" value="TC" />
      <label class="btn btn-outline-secondary" for="tcBtn"><i class="fas fa-boxes"></i> Technical Coordination</label>

      <input type="radio" class="btn-check btn-task" name="btnradio" id="imagingBtn" autocomplete="off" value="Imaging" />
      <label class="btn btn-outline-light" for="imagingBtn"><i class="fas fa-images"></i> Imaging</label>

      <input type="radio" class="btn-check btn-task" name="btnradio" id="deployBtn" autocomplete="off" value="Deploy" />
      <label class="btn btn-outline-success" for="deployBtn"><i class="fas fa-shuttle-van"></i> Deploy</label>

      <input type="radio" class="btn-check btn-task" name="btnradio" id="validationBtn" autocomplete="off" value="Validation" />
      <label class="btn btn-outline-primary" for="validationBtn"><i class="fas fa-clipboard-check"></i> <p>Validation</p></label>

      <input type="radio" class="btn-check btn-task" name="btnradio" id="incidentBtn" autocomplete="off" value="Incident" />
      <label class="btn btn-outline-danger" for="incidentBtn"><i class="fas fa-laptop-medical"></i> Incident</label>
          
      <input type="radio" class="btn-check btn-task" name="btnradio" id="breakfixBtn" autocomplete="off" value="Breakfix" />
      <label class="btn btn-outline-warning" for="breakfixBtn"><i class="fas fa-tools"></i> Breakfix</label>
    </div>
  </div>