<div class="row">
<table class="table table-md table-striped table-dark table-bordered table-hover w-100 mx-auto" id="taskList">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">State</th>
        <th scope="col">Notes</th>
        <th scope="col">Image</th>
        <th scope="col">Time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <ul>
      <% for(var i=0; i<posts.length; i++) { %>
          <%- include('post', {post: posts[i]}) %>
      <% } %>
    </ul>
    </tbody>
    <h5 class="text-end w-100 mx-auto">Total Tasks: <%= posts.length %></h5>
</table>
</div>