<%- include('partials/header', {user: null}) -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <h1 class="text-center font-weight-bold mb-5">Reports Refined.</h1>
        <span class="text-center mb-5"><i class="fa-regular fa-images text-success" style="color: lightgreen"></i> Track your daily tasks 
            <br><i class="fa-solid fa-clipboard-check text-warning" style="color: yellow"></i> Check your stats 
            <br><i class="fa-solid fa-rocket text-danger" style="color: red"></i> Export to PDF and Excel</span>
        <a href="/signup" class="col-3 btn btn-secondary"> Signup</a>
    </div>

</main>
<div>
<%- include('partials/footer') -%>
</div>
</div>