html, body {
    background: rgb(25, 25, 25);
    color: white;
    height: 100%;
    margin: 0;
}

.footer {
  background-color: #1d1d1dc7 !important;
}

 .checkbox * {
    cursor: pointer;
  }
   .checkbox {
    padding-left: 20px;
    width: 20px;
    height: 20px;
    margin-top: 1px;
  }
  
   .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }

  .force-to-bottom {
    bottom: 1%;
    width: 100% !important;
}
   .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
   .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 2px;
    margin-left: -21px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  
   .checkbox input[type="checkbox"]{
    opacity: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
  }
  
  
   .checkbox input[type="checkbox"]:checked + label::after{
    font-family: "FontAwesome";
    content: "\f00c";
  }
  
  .delete {
    background-color: red;
    border-color: red;
  }
   .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  
   .checkbox.checkbox-inline {
    margin-top: 0;
  }
  
   .checkbox-red    input[type="checkbox"]:checked + label::after,
   .checkbox-yellow input[type="checkbox"]:checked + label::after,
   .checkbox-green  input[type="checkbox"]:checked + label::after,
   .checkbox-blue   input[type="checkbox"]:checked + label::after,
   .checkbox-black  input[type="checkbox"]:checked + label::after
  {color: #fff;}
  
   .checkbox-red input[type="checkbox"] + label::before
  {background-color: #990000;  border-color: #990000;}
  
   .checkbox-yellow input[type="checkbox"] + label::before
  {background-color: #face00;  border-color: #face00;}
  
   .checkbox-green input[type="checkbox"] + label::before
  {background-color: #008000;  border-color: #008000;}
  
   .checkbox-blue input[type="checkbox"] + label::before
  {background-color: #428bca;  border-color: #428bca;}
  
   .checkbox-black input[type="checkbox"] + label::before
  {background-color: #000000;  border-color: #000000;}
  
  
  
  
  
  
  
  input[type="checkbox"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  

  
a {
    text-decoration: none;
    color: white;
}
#logo, #biglogo {
    mix-blend-mode: lighten;
    transition: all .3s ease-out;
    margin: -1em 0;
 }

 input[type=radio]{
    transform:scale(1.5);
  }
  
a:hover {
    color: lightblue;
}

.printable * {
    background-color: white !important;
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: .9em;
}

.printable i, .printable button {
    display: none;
}

.complete {
    color: #0ee07e;
}

.Progress {
    color: #ffc107;
}

.taskLabel {
    border-radius: 5px;
    padding: .2em;
    text-align: center;
}

.incident {
        background-color: #dc3545;
}
.validation {
        background-color: #0d6efd
}
.deploy {
        background-color: #198754;
}
.imaging {
        color: black;
        background-color: #f8f9fa;
}
.tc {
        background-color: #6c757d;
}
.breakfix {
        color: black;
        background-color: #ffc107;
}


.btn-group {
    height: 8vh;
    max-width: 100vw;
}
.btn-group .btn {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 0px solid !important;
    border-radius: 5px !important;
}

.btn-task {
    height: 5em;
}

#taskList {
    border-radius: 5px;
    color: white;
}

.formContainer {
    position: relative;
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
}

.input-dark {
    background-color: rgb(50,50,50);
    color: white;
}

.input-dark:focus {
    background-color: rgb(50,50,50);
    color: white;
}